@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('~/fonts/Vazir.eot');
  src: url('~/fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
  url('~/fonts/Vazir.woff2') format('woff2'), 
  url('~/fonts/Vazir.woff') format('woff'), 
  url('~/fonts/Vazir.ttf') format('truetype');
 }
 @font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url('~/fonts/Vazir-Bold.eot');
  src: url('~/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
  url('~/fonts/Vazir-Bold.woff2') format('woff2'), 
  url('~/fonts/Vazir-Bold.woff') format('woff'), 
  url('~/fonts/Vazir-Bold.ttf') format('truetype');
 }
 .font-family {
  font-family: vazir;
}
.position-image-suggested{
    position: relative;
}
.option-position{ 
    position: absolute;
    top: 25%;
}
.shadow{
    filter: brightness(50%);
}
.image-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 187px;
  }
  /* Style for the text overlay */
  .title-on-picture-suggested {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .title-on-picture-popular{
  position: absolute;
  top: 66%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 60%;
  }
  .menu-divisions{
    border-right: 4px solid rgb(72, 255, 0);
  }
  .line-height-description{
    line-height: 2em;
  }

/* slider image for mobile */
.slideshow-container {
  max-width: 1507px;
  position: relative;
  width: 100%;
}

/* Caption text */
.Caption-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.width-shadow-slider{
  filter: brightness(50%);
    width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}
.mySlides{
  overflow: hidden;
  height: 187px;
}
